.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #D3D3D3;
    border-radius: 50px;
    margin: 10px;
    overflow: hidden;
}

.input {
    border: none;
    border-radius: 0;
    padding: 20px 0 20px 15px;
    width: 70%;
    font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.sendButton {
    color: #fff !important;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    background: #2979FF;
    padding: 8px;
    display: inline-block;
    border: none;
    border-radius: 50px;
    margin-right: 7px;
}